@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&display=swap');

* {
    font-family: 'IBM Plex Mono', monospace;
}
header {
    height: 2em;
    background-color: blue;
    width: 100%;
}
